
    <head> 
        
        
 
        <link rel="stylesheet" id="bootstrap-css" href="Accreditations_files/bootstrap.min.css" type="text/css" media="all"> 
        <link rel="stylesheet" id="bootstrap-css" href="Accreditations_files/theme.css" type="text/css" media="all"> 
        
        <style id="consultio-theme-inline-css" type="text/css">@media screen and (min-width: 1200px) { } @media screen and (max-width: 1199px) { } @media screen and (min-width: 1200px) { }</style>         
       
        <style id="ct_theme_options-dynamic-css" title="dynamic-css" class="redux-options-output">.ct-main-menu > li > a, body .ct-main-menu .sub-menu li a { font-display: swap; } .ct-header-elementor-popup { background-repeat: no-repeat; background-position: center center;  background-size: cover; } body #pagetitle { background-image: url('./bg-page-title.jpg'); }  body { font-display: swap; } h1, .h1, .text-heading { font-display: swap; } h2, .h2 { font-display: swap; } h3, .h3 { font-display: swap; } h4, .h4 { font-display: swap; } h5, .h5 { font-display: swap; } h6, .h6 { font-display: swap; }</style>
        <style id="ct-page-dynamic-css" data-type="redux-output-css">#content { padding-top: 0px; padding-bottom: 0px; }</style>         
        <!-- Fonts Plugin CSS - https://fontsplugin.com/ -->         
        <style>
        .item--featured{
        border: 3px solid #083553;
        }
			</style>         
        <!-- Fonts Plugin CSS -->         
       
        <style id="inert-style">[inert] { pointer-events: none; cursor: default; } [inert], [inert] * { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }</style>
       

        <!--style>

   
            a {
                -webkit-transition: all 300ms linear 0ms;
                -khtml-transition: all 300ms linear 0ms;
                -moz-transition: all 300ms linear 0ms;
                -ms-transition: all 300ms linear 0ms;
                -o-transition: all 300ms linear 0ms;
                transition: all 300ms linear 0ms;
                color: #083553;
            }

            a, a:hover, a:focus, a:before, a:after {
                outline: none;
                text-decoration: none;
            }

            *, *:before, *:after {
                box-sizing: inherit;
            }

            h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
                color: #0e0e0e;
                clear: both;
                line-height: 1.2;
                margin: 0 0 15px;
                font-weight: 700;
            }

            h1, .h1 {
                font-size: 52px;
            }

            img {
                width: auto;
                max-width: 100%;
                height: auto;
            }

            .ct-blog-carousel-layout6 .item--title {
                font-size: 18px;
                margin-bottom: 0;
                color: #fff;
                position: relative;
                overflow: hidden;
                z-index: 1;
                padding: 15px 40px 15px 26px;
                white-space: pre;
                text-overflow: ellipsis;
            }

            .btn, button, .button, input[type="submit"], .tnp-subscription .tnp-field-button .tnp-button {
                font-size: 15px;
                font-weight: 700;
                color: #fff;
                padding: 0 34px;
                line-height: 51px;
                -webkit-transition: all 200ms linear 0ms;
                -khtml-transition: all 200ms linear 0ms;
                -moz-transition: all 200ms linear 0ms;
                -ms-transition: all 200ms linear 0ms;
                -o-transition: all 200ms linear 0ms;
                transition: all 200ms linear 0ms;
                font-family: 'PPNeueMontreal', sans-serif;
                -webkit-border-radius: 5px;
                -khtml-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                border-radius: 5px;
                -webkit-box-shadow: 0 8px 10px rgba(12, 12, 12, 0.1);
                -khtml-box-shadow: 0 8px 10px rgba(12, 12, 12, 0.1);
                -moz-box-shadow: 0 8px 10px rgba(12, 12, 12, 0.1);
                -ms-box-shadow: 0 8px 10px rgba(12, 12, 12, 0.1);
                -o-box-shadow: 0 8px 10px rgba(12, 12, 12, 0.1);
                box-shadow: 0 8px 10px rgba(12, 12, 12, 0.1);
                position: relative;
                display: inline-block;
                text-align: center;
                cursor: pointer;
                border: none;
                background-color: #083553;
                background-image: -webkit-linear-gradient(90deg, #1A97D4 0%, #083553 50%, #1A97D4);
                background-image: -moz-linear-gradient(90deg, #1A97D4 0%, #083553 50%, #1A97D4);
                background-image: -ms-linear-gradient(90deg, #1A97D4 0%, #083553 50%, #1A97D4);
                background-image: -o-linear-gradient(90deg, #1A97D4 0%, #083553 50%, #1A97D4);
                background-image: linear-gradient(90deg, #1A97D4 0%, #083553 50%, #1A97D4);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='', endColorStr='');
                background-size: 300%, 1px;
                background-position: 0%;
                height: auto;
            }

        </style-->


    </head>     
    


        
        <div id="page" class="site"> 
            <div id="pagetitle" class="page-title bg-image "> 
                <div class="container"> 
                    <div class="page-title-inner"> 
                        <div class="page-title-holder"> 
                            <h1 class="page-title">Accreditations &amp; Memberships</h1> 
                        </div>                         
                                              
                    </div>                     
                </div>                 
            </div>             
            <div id="content" class="site-content"> 
                <div class="content-inner"> 
                    <div class="container content-container"> 
                        <div class="row content-row"> 
                            <div id="primary" class="content-area content-full-width col-12"> 
                                <main id="main" class="site-main"> 
                                    <article id="post-409" class="post-409 page type-page status-publish hentry"> 
                                        <div class="entry-content clearfix"> 
                                            <div data-elementor-type="wp-page" data-elementor-id="409" class="elementor elementor-409"> 
                                                                                               
                                                <section class="elementor-section elementor-top-section elementor-element elementor-element-3a8ea759 elementor-section-boxed elementor-section-height-default elementor-section-height-default ct-header-fixed-none ct-row-max-none" > 
                                                    <div class="elementor-container elementor-column-gap-extended "> 
                                                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-68d2945" data-id="68d2945" data-element_type="column"> 
                                                            <div class="elementor-widget-wrap elementor-element-populated"> 
                                                                <div class="elementor-element elementor-element-5249e166 elementor-widget elementor-widget-ct_service_grid" data-id="5249e166" data-element_type="widget" data-widget_type="ct_service_grid.default"> 
                                                                    <div class="elementor-widget-container"> 
                                                                        <div id="ct_service_grid-5249e166" class="ct-grid ct-service-grid2" data-layout="masonry" data-start-page="1" data-max-pages="1" data-total="7" data-perpage="7" data-next-link=""> 
                                                                            <div class="ct-grid-overlay"></div>                                                                             
                                                                            <div class="ct-grid-inner ct-grid-masonry row animate-time" data-gutter="15"> 
                                                                                <div class="grid-item col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12"> 
                                                                                    <div class="grid-item-inner wow fadeInUp active-featured" style="animation-delay: 100ms; visibility: visible; animation-name: fadeInUp;"> 
                                                                                        <div class="item--featured"> 
                                                                                            <div class="card-no" style="-webkit-box-shadow: 3px 4px 15px 0px rgba(0,0,0,0.75);-moz-box-shadow: 3px 4px 15px 0px rgba(0,0,0,0.75);box-shadow: 3px 4px 15px 0px rgba(0,0,0,0.75);"> 
                                                                                            <img decoding="async" class="disable-lazy no-lazyload " src="Accreditations_files/theme-16-450x450.jpg" alt="theme-16" title="theme-16"> 
                                                                                         </div>  </div>                                                                                         
                                                                                        <div class="item--meta"> 
                                                                                        <img alt="" width="100%" height="auto" class="img-company" src="Accreditations_files/fello.png" style="position: relative;margin-bottom: 20%;">
                                                                                            <h3 class="item--title">Fellow Chartered Accountant
of Singapore</h3> 
                                                                                        </div>                                                                                         
                                                                                        <div class="item--holder" style="justify-content: center;"> 
                                                                                            <div class="item--holder-inner"> 
                                                                                                <h3 class="item--title">Fellow Chartered Accountant
of Singapore</h3> 
                                                                                                <div class="item--content">Institute of Singapore Chartered Accountant </div>                                                                                                 
                                                                                            </div>                                                                                             
                                                                                        </div>                                                                                         
                                                                                    </div>                                                                                     
                                                                                </div>                                                                                 
                                                                                <div class="grid-item col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 " > 
                                                                                    <div class="grid-item-inner wow fadeInUp active-featured" style="animation-delay: 180ms; visibility: visible; animation-name: fadeInUp;"> 
                                                                                        <div class="item--featured"> 
                                                                                           <div class="card-no" style="-webkit-box-shadow: 3px 4px 15px 0px rgba(0,0,0,0.75);-moz-box-shadow: 3px 4px 15px 0px rgba(0,0,0,0.75);box-shadow: 3px 4px 15px 0px rgba(0,0,0,0.75);"> 
                                                                                            <img decoding="async" class="disable-lazy no-lazyload " src="Accreditations_files/theme-16-450x450.jpg" alt="theme-16" title="theme-16" width="450" height="450"> 
                                                                                         </div>  </div>                                                                                         
                                                                                        <div class="item--meta">
                                                                                        <img alt="" width="100%" height="auto" class="img-company" src="Accreditations_files/fello2.png" style="position: relative;margin-bottom: 35%;">
                                                                                            <h3 class="item--title">Fellow</h3> 
                                                                                        </div>                                                                                         
                                                                                        <div class="item--holder" style="justify-content: center;"> 
                                                                                            <div class="item--holder-inner"> 
                                                                                                <h3 class="item--title">Fellow</h3> 
                                                                                                <div class="item--content">The Association of Chartered Certified Accountants</div>                                                                                                 
                                                                                            </div>                                                                                             
                                                                                        </div>                                                                                         
                                                                                    </div>                                                                                     
                                                                                </div>                                                                                 
                                                                                <div class="grid-item col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 " > 
                                                                                    <div class="grid-item-inner wow fadeInUp active-featured" style="animation-delay: 260ms; visibility: visible; animation-name: fadeInUp;"> 
                                                                                        <div class="item--featured"> 
                                                                                          <div class="card-no" style="-webkit-box-shadow: 3px 4px 15px 0px rgba(0,0,0,0.75);-moz-box-shadow: 3px 4px 15px 0px rgba(0,0,0,0.75);box-shadow: 3px 4px 15px 0px rgba(0,0,0,0.75);"> 
                                                                                            <img decoding="async" class="disable-lazy no-lazyload " src="Accreditations_files/theme-16-450x450.jpg" alt="theme-16" title="theme-16" width="450" height="450"> 
                                                                                         </div>  </div>                                                                                         
                                                                                        <div class="item--meta"> 
                                                                                        <img alt="" width="100%" height="auto" class="img-company" src="Accreditations_files/asociate.png" style="position: relative;margin-bottom: 35%;">
                                                                                            <h3 class="item--title">Associate</h3> 
                                                                                        </div>                                                                                         
                                                                                        <div class="item--holder" style="justify-content: center;"> 
                                                                                            <div class="item--holder-inner"> 
                                                                                                <h3 class="item--title">Associate</h3> 
                                                                                                <div class="item--content"> 
                                                                                                    Chartered Secretaries 
                                                                                                    Institute of Singapore                                            
</div>                                                                                                 
                                                                                            </div>                                                                                             
                                                                                        </div>                                                                                         
                                                                                    </div>                                                                                     
                                                                                </div>                                                                                 
                                                                                <div class="grid-item col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 "> 
                                                                                    <div class="grid-item-inner wow fadeInUp active-featured" style="animation-delay: 340ms; visibility: visible; animation-name: fadeInUp;"> 
                                                                                        <div class="item--featured"> 
                                                                                             <div class="card-no" style="-webkit-box-shadow: 3px 4px 15px 0px rgba(0,0,0,0.75);-moz-box-shadow: 3px 4px 15px 0px rgba(0,0,0,0.75);box-shadow: 3px 4px 15px 0px rgba(0,0,0,0.75);"> 
                                                                                            <img decoding="async" class="disable-lazy no-lazyload " src="Accreditations_files/theme-16-450x450.jpg" alt="theme-16" title="theme-16" width="450" height="450"> 
                                                                                         </div> </div>                                                                                         
                                                                                        <div class="item--meta"> 
                                                                                        <img alt="" width="100%" height="auto" class="img-company" src="Accreditations_files/asociate2.png" style="position: relative;margin-bottom: 35%;">
                                                                                            <h3 class="item--title">Associate</h3> 
                                                                                        </div>                                                                                         
                                                                                        <div class="item--holder" style="justify-content: center;"> 
                                                                                            <div class="item--holder-inner"> 
                                                                                                <h3 class="item--title">Associate</h3> 
                                                                                                <div class="item--content"> 
                                                                                                    The Institute of Chartered Secretaries
                                                                                                    and Administrators
</div>                                                                                                 
                                                                                            </div>                                                                                             
                                                                                        </div>                                                                                         
                                                                                    </div>                                                                                     
                                                                                </div>                                                                                 
                                                                                <div class="grid-item col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12" > 
                                                                                    <div class="grid-item-inner wow fadeInUp active-featured" style="animation-delay: 420ms; visibility: visible; animation-name: fadeInUp;"> 
                                                                                        <div class="item--featured"> 
                                                                                        <div class="card-no" style="-webkit-box-shadow: 3px 4px 15px 0px rgba(0,0,0,0.75);-moz-box-shadow: 3px 4px 15px 0px rgba(0,0,0,0.75);box-shadow: 3px 4px 15px 0px rgba(0,0,0,0.75);"> 
                                                                                            <img decoding="async" class="disable-lazy no-lazyload " src="Accreditations_files/theme-16-450x450.jpg" alt="theme-16" title="theme-16" width="450" height="450"> 
                                                                                         </div>  
                                                                                        </div>                                                                                         
                                                                                        <div class="item--meta"> 
                                                                                        <img alt="" width="100%" height="auto" class="img-company" src="Accreditations_files/acreditex.png" style="position: relative;margin-bottom: 20%;">
                                                                                            <h3 class="item--title">Accredited Tax Practitioner
(Income Tax &amp; GST) </h3> 
                                                                                        </div>                                                                                         
                                                                                        <div class="item--holder" style="justify-content: center;"> 
                                                                                            <div class="item--holder-inner"> 
                                                                                                <h3 class="item--title">Accredited Tax Practitioner
(Income Tax &amp; GST) </h3> 
                                                                                                <div class="item--content"> 
                                                                                                    Singapore Chartered Tax 
                                                                                                    Professionals                                            
</div>                                                                                                 
                                                                                            </div>                                                                                             
                                                                                        </div>                                                                                         
                                                                                    </div>                                                                                     
                                                                                </div>                                                                                 
                                                                                <div class="grid-item col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12"> 
                                                                                    <div class="grid-item-inner wow fadeInUp active-featured" style="animation-delay: 500ms; visibility: visible; animation-name: fadeInUp;"> 
                                                                                        <div class="item--featured"> 
                                                                                           <div class="card-no" style="-webkit-box-shadow: 3px 4px 15px 0px rgba(0,0,0,0.75);-moz-box-shadow: 3px 4px 15px 0px rgba(0,0,0,0.75);box-shadow: 3px 4px 15px 0px rgba(0,0,0,0.75);"> 
                                                                                            <img decoding="async" class="disable-lazy no-lazyload " src="Accreditations_files/theme-16-450x450.jpg" alt="theme-16" title="theme-16" width="450" height="450"> 
                                                                                         </div>   </div>                                                                                         
                                                                                        <div class="item--meta"> 
                                                                                        <img alt="" width="100%" height="auto" class="img-company" src="Accreditations_files/filing.png" style="position: relative;margin-bottom: 35%;">
                                                                                            <h3 class="item--title"> 
Filing Agent
</h3> 
                                                                                        </div>                                                                                         
                                                                                        <div class="item--holder" style="justify-content: center;"> 
                                                                                            <div class="item--holder-inner"> 
                                                                                                <h3 class="item--title"> 
Filing Agent
</h3> 
                                                                                                <div class="item--content"> 
                                                                                                    Accounting and Corporate
                                                                                                    Regulatory Authority                                            
</div>                                                                                                 
                                                                                            </div>                                                                                             
                                                                                        </div>                                                                                         
                                                                                    </div>                                                                                     
                                                                                </div>                                                                                 
                                                                                <div class="grid-item col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12" > 
                                                                                    <div class="grid-item-inner wow fadeInUp active-featured" style="animation-delay: 260ms; visibility: visible; animation-name: fadeInUp;"> 
                                                                                        <div class="item--featured"> 
                                                                                           <div class="card-no" style="-webkit-box-shadow: 3px 4px 15px 0px rgba(0,0,0,0.75);-moz-box-shadow: 3px 4px 15px 0px rgba(0,0,0,0.75);box-shadow: 3px 4px 15px 0px rgba(0,0,0,0.75);"> 
                                                                                            <img decoding="async" class="disable-lazy no-lazyload " src="Accreditations_files/theme-16-450x450.jpg" alt="theme-16" title="theme-16" width="450" height="450"> 
                                                                                         </div>    </div>                                                                                         
                                                                                        <div class="item--meta">
                                                                                        <img alt="" width="100%" height="auto" class="img-company" src="Accreditations_files/certified.png" style="position: relative;margin-bottom: 35%;">
                                                                                            <h3 class="item--title">Certified Advisor</h3> 
                                                                                        </div>                                                                                         
                                                                                        <div class="item--holder" style="justify-content: center;"> 
                                                                                            <div class="item--holder-inner"> 
                                                                                                <h3 class="item--title">Certified Advisor</h3> 
                                                                                                <div class="item--content">Xero</div>                                                                                                 
                                                                                            </div>                                                                                             
                                                                                        </div>                                                                                         
                                                                                    </div>                                                                                     
                                                                                </div>
                                                                                <div class="grid-item col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12" > 
                                                                                    <div class="grid-item-inner wow fadeInUp active-featured" style="animation-delay: 260ms; visibility: visible; animation-name: fadeInUp;"> 
                                                                                        <div class="item--featured"> 
                                                                                           <div class="card-no" style="-webkit-box-shadow: 3px 4px 15px 0px rgba(0,0,0,0.75);-moz-box-shadow: 3px 4px 15px 0px rgba(0,0,0,0.75);box-shadow: 3px 4px 15px 0px rgba(0,0,0,0.75);"> 
                                                                                            <img decoding="async" class="disable-lazy no-lazyload " src="Accreditations_files/theme-16-450x450.jpg" alt="theme-16" title="theme-16" width="450" height="450"> 
                                                                                         </div>    </div>                                                                                         
                                                                                        <div class="item--meta">
                                                                                                    <img alt="" width="100%" height="auto" class="img-company" src="Accreditations_files/sid.png" style="position: relative;margin-bottom: 35%;">
                                                                                            <h3 class="item--title">Member (Jaslin Lau)</h3> 
                                                                                        </div>                                                                                         
                                                                                        <div class="item--holder" style="justify-content: center;"> 
                                                                                            <div class="item--holder-inner"> 
                                                                                                <h3 class="item--title">Member (Jaslin Lau)</h3> 
                                                                                                <div class="item--content"> 
                                                                                                    Chartered Secretaries 
                                                                                                    Institute of Singapore                                            
</div>                                                                                                 
                                                                                            </div>                                                                                             
                                                                                        </div>                                                                                         
                                                                                    </div>                                                                                     
                                                                                </div>
                                                                                <div class="grid-item col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12" > 
                                                                                    <div class="grid-item-inner wow fadeInUp active-featured" style="animation-delay: 500ms; visibility: visible; animation-name: fadeInUp;"> 
                                                                                        <div class="item--featured"> 
                                                                                            <div class="card-no" style="-webkit-box-shadow: 3px 4px 15px 0px rgba(0,0,0,0.75);-moz-box-shadow: 3px 4px 15px 0px rgba(0,0,0,0.75);box-shadow: 3px 4px 15px 0px rgba(0,0,0,0.75);"> 
                                                                                            <img decoding="async" class="disable-lazy no-lazyload " src="Accreditations_files/theme-16-450x450.jpg" alt="theme-16" title="theme-16" width="450" height="450"> 
                                                                                         </div>      </div>                                                                                         
                                                                                        <div class="item--meta"> 
                                                                                        <img alt="" width="100%" height="auto" class="img-company" src="Accreditations_files/member.png" style="position: relative;margin-bottom: 35%;">
                                                                                            <h3 class="item--title">Member</h3> 
                                                                                        </div>                                                                                         
                                                                                        <div class="item--holder" style="justify-content: center;"> 
                                                                                            <div class="item--holder-inner"> 
                                                                                                <h3 class="item--title">Member</h3> 
                                                                                                <div class="item--content">Singapore Chinese Chamber of Commerce &amp; Industry</div>                                                                                                 
                                                                                            </div>                                                                                             
                                                                                        </div>                                                                                         
                                                                                    </div>                                                                                     
                                                                                </div>
                                                                                <div class="grid-sizer col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12"></div>                                                                                 
                                                                            </div>                                                                             
                                                                        </div>                                                                         
                                                                    </div>                                                                     
                                                                </div>                                                                 
                                                            </div>                                                             
                                                        </div>                                                         
                                                    </div>                                                     
                                                </section>                                                 
                                            </div>                                             
                                        </div>
                                        <!-- .entry-content -->                                         
                                    </article>
                                    <!-- #post-409 -->                                     
                                </main>
                                <!-- #main -->                                 
                            </div>
                            <!-- #primary -->                             
                        </div>                         
                    </div>                     
                </div>
                <!-- #content inner -->                 
            </div>
            
            

        </div>
        <!-- #page -->         
             
              
             


        <footer id="footer" logo-light="" class="c-section footer wf-section" ng-show="footer">
            <div class="o-container z-index-1" style="flex-direction: row-reverse; align-items: center; justify-content: center; flex-wrap: nowrap; align-content: center; text-align: center; overflow: hidden; vertical-align: middle; position: relative;">
                <div class="o-grid footer margin-216" style="align-content: center; text-align: left;">
                    <div  id="w-node-_8b47a8fd-9a90-79f4-55d2-724ef071c3f1-fd5d6cpo" class="o-col">
                        <div class="margin-24">
                            <img src="media/Logo-1.png" width="200px" height="200px"></img>
                        </div>
                    </div>
                    <div  id="w-node-_8b47a8fd-9a90-79f4-55d2-724ef071c3f1-fd5d6cb2" class="o-col">
                        <div class="margin-24">
                            <h3 ng-click="goHome()" style="color: #fff;" class="t-label-4">Advenz</h3>
                        </div>
                        <div class="c-footer-list">
                            <div class="c-footer-item">
                                <a ng-click="goAbout()" class="t-body-3">About</a>
                            </div>
                            <div class="c-footer-item">
                                <a ng-click="goAcreditaciones()" class="t-body-3">Accreditations &amp; Memberships</a>
                            </div>
                            <div class="c-footer-item">
                                <a ng-click="goServices()" class="t-body-3">Services</a>
                            </div>
                            <div class="c-footer-item">
                                <a ng-click="goResources()" class="t-body-3">Resources</a>
                            </div>
                            <div class="c-footer-item">
                                <a href="https://www.thebusinessparadox.com" target="_blank" style="color: #fff;" class="t-body-3">The Business Paradox</a>
                            </div>
                            <div class="c-footer-item">
                                <a ng-click="goContacto()" class="t-body-3">Contact Us</a>
                            </div>
                        </div>
                    </div>
                    <div  id="w-node-_8bd3dd04-70a9-9db0-2ed1-4bad50ab43a0-fd5d6cb2" class="o-col">
                        <div class="margin-24">
                            <h3 style="color: #fff;" class="t-label-4">About</h3>
                        </div>
                        <div class="c-footer-list">
                            <div class="c-footer-item">
                                <a  ng-click="goAboutStory()" class="t-body-3">Our Story</a>
                            </div>
                            <div class="c-footer-item">
                                <a  ng-click="goAboutValues()" class="t-body-3">Our Values</a>
                            </div>
                            <div class="c-footer-item">
                                <a  ng-click="goAboutTeam()" class="t-body-3">Our Team</a>
                            </div>
                            <div class="c-footer-item">
                                <a  ng-click="goAboutClients()" class="t-body-3">Our Clients</a>
                            </div>
                        </div>
                    </div>
                    <div  id="w-node-ebca98b3-b116-3eda-bcbf-03002c0cc410-fd5d6cb2" class="o-col">
                        <div class="margin-24">
                            <h3 style="color: #fff;" class="t-label-4">Services</h3>
                        </div>
                        <div class="c-footer-list">
                            <div class="c-footer-item">
                                <a  ng-click="goFinances()" class="t-body-3">Finances &amp; Accounting</a>
                            </div>
                            <div class="c-footer-item">
                                <a  ng-click="goCorporate()" class="t-body-3">Corporate Secretarial</a>
                            </div>
                            <div class="c-footer-item">
                                <a  ng-click="goTax()" class="t-body-3">Tax & GST</a>
                            </div>
                            <div class="c-footer-item">
                                <a  ng-click="goBusinessSupport()" class="t-body-3">Business Support</a>
                            </div>
                        </div>
                    </div>
                    <div  id="w-node-ebca98b3-b116-3eda-bcbf-03002c0cc410-fd5d6cb2" class="o-col">
                        <div class="margin-24">
                            <h3 style="color: #fff;" class="t-label-4">Contact US</h3>
                        </div>
                        <div class="c-footer-list">
                            <div class="c-footer-item"><a href="mailto:enquiries@advenz.co" style="color: #fff;" class="t-body-3">enquiries@advenz.co</a></div>
                            <div class="c-footer-item"><a href="tel:(+65)%206747%201732%20" style="color: #fff;" class="t-body-3">(+65) 6747 1732</a> </div>
                            <div class="c-footer-item">
                                <a href="https://wa.me/6580227311" style="color: #fff;" class="t-body-3">
                                    (+65) 8022 7311
                            </div>
                            <div class="c-footer-item t-body-3" style="color: #fff;">Opening Hours 9.00am – 5.30pm
                            <br> Monday to Friday
                            <br>
                            </div>
                            <div class="c-footer-item t-body-3" style="color: #fff;">60 Paya Lebar Road 
                            <br>#05-45 Paya Lebar Square 
                            <br>Singapore 409051
                            </div>
                        </div>
                    </div>
                </div>
                <h3><a ng-click="goTop()" style="color: #fff;">Back Top&nbsp;<svg version="1.2" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="white">
                <path d="M12 3.172l-6.414 6.414c-.781.781-.781 2.047 0 2.828s2.047.781 2.828 0l1.586-1.586v7.242c0 1.104.895 2 2 2 1.104 0 2-.896 2-2v-7.242l1.586 1.586c.391.391.902.586 1.414.586s1.023-.195 1.414-.586c.781-.781.781-2.047 0-2.828l-6.414-6.414z"/>
                </svg></a></h3>
                <div class="o-grid legal">
                    <div id="w-node-_21a66231-58e2-e795-5fd6-76bbe01e76e0-fd5d6cb2" class="t-body-3" style="text-align: left; padding-left: 2em; background: transparent;">© 
                        <span current-year="">2022</span>. All rights reserved.
                    </div>
                </div>
            </div>
        </footer>
              
              
  